body {
    background-color: rgb(25, 25, 25);
    color: white;
}

.title {
    font-size: 30px;
    font-weight: bold;
}

.move-img {
    width: 60px;
}

.move-button {
    background-color: transparent;
    border: 3px solid;
    border-color: white;
    padding: 25px;
    border-radius: 100%;
    margin-right: 10px;
}

.css-result {
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
}

.css-score {
    font-size: 18px;
    margin-top: 50px;
}

.reset-score {
    font-size: 15px;
    padding: 8px 14px;
}